body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
}
.hidden {
  display: none;
}
.normalmode,
.normalmode::placeholder {
  color: white;
  font-family: "Roboto Mono", monospace;
}
.darkmode,
.darkmode::placeholder {
  color: #fafaa0;
  font-family: "Roboto Mono", monospace;
}
li {
  list-style-type: none;
}
.in {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
  margin: auto;
  width: 82vw;
  text-align: center;
}
.buttons {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 8px;
  margin: auto;
  width: 82vw;
}
#mode,
#logout {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
#mode {
  margin-left: 8px;
}
#mode:hover,
#logout:hover {
  cursor: pointer;
}
#mode:active,
#logout:active {
  transform: scale(0.9);
}
.btnNormal {
  border: 2px solid white;
  background-color: rgb(100, 100, 100);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btnDark {
  border: 2px solid white;
  background-color: white;
  box-shadow: 0 4px 6px rgb(201, 201, 201, 0.5),
    0 1px 3px rgb(255, 255, 255, 0.08);
}
.mdNormal {
  background-image: url(../image/icon/moon_icon.png);
}
.mdDark {
  background-image: url(../image/icon/sun_icon.png);
}
#logout {
  background-image: url(../image/icon/logout_icon.png);
}
#login-form {
  margin-top: 20px;
}
#calendar {
  text-align: center;
  font-size: 30px;
  margin: auto;
}
#clock {
  text-align: center;
  font-size: 50px;
  margin: auto;
}
#name,
#todo {
  background-color: transparent;
  border: none;
  height: 17px;
  font-size: 12px;
  border-bottom: 2px solid;
}
#name {
  width: 20vw;
}
#todo {
  margin-top: 10px;
  width: 26vw;
}
#name:focus,
#todo:focus {
  text-align: center;
  background-color: transparent;
}
#name::placeholder,
#todo::placeholder {
  text-align: center;
  font-size: 12px;
}
#namebutton {
  transition: box-shadow 300ms ease-in-out;
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}
#namebutton:hover {
  box-shadow: 0 0 40px 40px blueviolet inset;
}
#namebutton .normalmode {
  color: white;
}
#greeting {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}
.scrollable {
  overflow: auto;
  max-height: 105px;
}
#todo-list li {
  font-size: 12px;
  margin-top: 10px;
}
.removebtn {
  transition: box-shadow 300ms ease-in-out;
  background-color: transparent;
  border: 2px solid red;
  color: red;
  cursor: pointer;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 700;
  margin-left: 5px;
}
.removebtn:hover {
  box-shadow: 0 0 40px 40px red inset;
  color: white;
}
#quote {
  margin-bottom: 15px;
  font-family: "Square Peg", cursive;
}
#quoteContent {
  font-size: 35px;
  font-weight: 100;
}
#quoteAuthor {
  font-size: 25px;
  font-weight: 100;
}
#authorInfo {
  max-width: 17px;
  max-height: 17px;
  margin-left: 6px;
}
.weatherShow {
  display: flex;
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 170px;
  height: 75px;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}
.wsNormal {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgb(201 201 201 / 0.5),
    0 1px 3px rgb(255 255 255 / 0.08);
}
.wsDark {
  background-color: #fafaa0d7;
  color: rgb(73, 73, 73);
  box-shadow: 0 4px 6px rgba(250, 250, 160, 0.8),
    0 1px 3px rgb(255 255 255 / 0.08);
}
#weather span {
  font-size: 15px;
}
#weather img {
  width: 75px;
  height: 75px;
}
